hr {
    margin: 0;

}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    border-bottom: 10px;
    
}
.lista-rodape {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        font-weight: 400;
        color: var(--cinza-titulo-rodape);
    }
    .lista-rodape__link {
        color: var(--cinza-link-rodape);
        font-size: 14px;
        font-weight: 400;
        text-decoration: none ;
        margin-left: 0.8em;
    }
}

@media screen and (min-width:1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-titulo-rodape);
        padding-left: 1em;
    }
    .rodape {
        padding: 3em 0 ;
    }
}